<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Exclude tables -->
    <add key="tablas" value="sysdiagrams;__RefactorLog"/>
    <!-- String Connections -->
    <add key="dbSQL" value="{SQL Server};rodro-lap;Condominos;sa;Rodrigo00;;"/>
    <add key="dbMySQL" value="{MySQL ODBC 8.0 ANSI Driver};rodro-lap;Condominos;root;Rodrigo00;3306;"/>
    <add key="dbOracle" value="{Microsoft ODBC Driver for Oracle};server;db;uid;pwd;port;sname"/>
    <!-- Path to wrote class file -->
    <add key="Path" value="D:\Proyectos\Condomino's\Artifacts"/>
    <add key="Datos" value="Rodrigo del Angel [r.delangel@trinitysoftware.mx]"/>
    <add key="Addition" value=""/>
    <add key="Namespace" value="Trinity.Condominos"/>
    <add key="Schema" value="dbo"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
